*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/
/third/libmfx-msvc-x64/lib
/third/libmfx-msvc-x64/include
/third/libmfx-x64/include
/third/libmfx-x64/lib
/third/libmfx-x86/include
/third/libmfx-x86/lib
/third/libx264-x64/bin
/third/libx264-x64/include
/third/libx264-x64/lib
/third/libx264-x86/bin
/third/libx264-x86/include
/third/libx264-x86/lib
/third/nv-sdk-v10.0/include
/third/nv-sdk-v10.0/lib
/android
/tmpdir
/.vs
/install/android/arm64-v8a
/install/android/armeabi-v7a
/install/android/x86
/install/android/x86_64
/install/win/x86_x64/nv-10.1-qsv-vpl/share
/install/win/x86_x64/nv-10.1-qsv-vpl/bin
/install/win/x86_x64/nv-10.1-qsv-vpl/include
/install/win/x86_x64/nv-10.1-qsv-vpl/lib
/third/libvpl-msvc-x64/share
/third/libvpl-msvc-x64/bin
/third/libvpl-msvc-x64/etc
/third/libvpl-msvc-x64/include
/third/libvpl-msvc-x64/lib
/third/nv-sdk-v10.1/include
/third/nv-sdk-v10.1/lib
/third/libx264-x64_static_msvc/bin
/third/libx264-x64_static_msvc/include
/third/libx264-x64_static_msvc/lib
/install/win/x86/nv-10.1-qsv-vpl-h264-decoder/include
/install/win/x86/nv-10.1-qsv-vpl-h264-decoder/lib
/install/win/x86/nv-10.1-qsv-vpl-h264-decoder/share
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-decoder/include
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-decoder/lib
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-decoder/share
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-decoder-noqsv/include
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-decoder-noqsv/lib
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-decoder-noqsv/share
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-encoder/include
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-encoder/lib
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-encoder/share
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-encoder-x264-static/include
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-encoder-x264-static/lib
/install/win/x86_x64/nv-10.1-qsv-vpl-h264-encoder-x264-static/share
